.jumbotron:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: url(../img/indexbg.jpg) no-repeat;
    background-size: cover;
    opacity: 0.4;
}

.jumbotron .container {
    position: relative;
    z-index: 2
}

.jumbotron {
    text-align: center;
}