.item-list
{
	list-style: none;
}

.item-list li
{
	float: left;
	background-color: #f9f9f9;
	border: 1px solid #fff;
	padding-left: 0px;
	padding-right: 0px;
}

.item-list li img
{
	margin-top: 2px;
	width: 100%;
	height: 200px;
}

@media (min-width: 768px) {
    .item-list li
	{
		float: left;
		background-color: #f9f9f9;
		border: 3px solid #fff;
	}
}