body
{
	background: #f3f0eb;
	padding-top: 60px;
}

.navbar-default
{
	background-color: #c43700;
}

.navbar-default .navbar-brand
{
	color: #ffffff;
	font-size: 28px;
}

.navbar-default .navbar-nav li a
{
	color: #fff;
	font-size: 18px;
}

.item-list
{
	background-color: #f9f9f9;
	border: 1px solid #ddd;
	margin-top: 20px;
	padding: 10px 10px 10px 10px;
	max-width: 310px;
	margin-right: auto;
	margin-left: auto;
}

.item-list img
{
	margin-top: 2px;
	width: 100%;
	max-width: 310px;
	height: 220px;
}

@media (min-width: 768px) {
    .item-list li
	{
		float: left;
		background-color: #f9f9f9;
		border: 3px solid #fff;
	}
}