{% extends 'base.html' %}

{% block title %}Nourriture{% endblock %}

{% block content %}
    <div class="container">
        <h1>APIs list</h1>
        {% for single in api %}
            <div class="panel panel-default">
                <!-- Default panel contents -->
                <div class="panel-heading"><h4>{{ single.0 }}</h4></div>
                <!-- Table -->
                <table class="table table-bordered table-hover">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>url</th>
                        <th>Description</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for item in single.1 %}
                        <tr>
                            <td>{{ item.id }}</td>
                            <td><a href="{{ item.example }}">{{ item.url }}</a></td>
                            <td>{{ item.desc }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endfor %}
    </div>
{% endblock %}