{% extends 'base.html' %}

{% block title %}Nourriture{% endblock %}

{% block content %}
<div class="jumbotron masthead">
  <div class="container">
    <h1>Nourriture</h1>
    <h2>Connect People with Ingredients</h2>
    <p class="masthead-button-links">
      <a class="btn btn-lg btn-success btn-shadow" href="/admin/" role="button">Enter Admin Page</a>
    </p>
    <p class="masthead-button-links">
      <a class="btn btn-lg btn-success btn-shadow" href="/api/" role="button">Show APIs list</a>
    </p>
  </div>
</div>
{% endblock %}