<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link href="http://cdn.bootcss.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/index.css" rel="stylesheet">
</head>
<body>
<div class="jumbotron masthead">
  <div class="container">
    <h1>Nourriture</h1>
    <h2>Connect People with Ingredients</h2>
    <p class="masthead-button-links">
      <a class="btn btn-lg btn-success btn-shadow" href="/admin/" role="button">Enter Admin Page</a>
    </p>
  </div>
</div>
<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
<script src="http://cdn.bootcss.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
</body>
</html>