<div class="container detial">
    <div class="col-md-4">
        <img ng-if="ingredient.image==null" ng-src="img/placeholder.png">
        <img ng-if="ingredient.image!=null" ng-src="{{ ingredient.image }}">
    </div>
    <div class="col-md-8">
        <h1>{{ ingredient.name }}</h1>

        <div class="tags">
            <span class="label label-primary" ng-repeat="t in ingredient.tags">{{ t.name }}</span>
        </div>
        <p>

        <p><span>Alias: </span>{{ ingredient.alias }}</p>

        <p><span>Category: </span>{{ ingredient.category.name }}</p>

        <p>{{ ingredient.desc }}</p>

        <p ng-repeat="n in ingredient.nutrition">
            {{ n.nutrition.name }}:{{ n.value }} {{ n.nutrition.unit }}
        </p>

        <p><span>Functions: </span>{{ ingredient.function }}</p>
        </p>
    </div>

</div>