<div class="container" ng-controller="loginctrl" style="padding-top: 10%;padding-left: 30%">
    <form  role="form">
        <p>username</p>
        <div class="form-group">
            <input  ng-bind="user.username" type="text" style="width: 30%" class="form-control" placeholder="username">
        </div>
        <p>password</p>
        <div class="form-group">
            <input  ng-bind="user.password" type="text" style="width: 30%"  class="form-control" placeholder="password">
        </div>
      <button type="submit" class="btn btn-default" ng-click="login()">submit</button>
    </form>

</div>

<script>
   function loginctrl($scope) {
        $scope.user =[];
    }
</script>
