<nav class="navbar navbar-default" role="navigation" ng-controller="indexController">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Nourriture</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">                
                <li><a href="#/ingredient/">Ingredient</a></li>
                <li><a href="#/product/">Product</a></li>
                <li><a href="#/recipe/">Recipe</a></li>
                <li><a href="#/supplier/">Supplier</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li data-ng-hide="!authentication.isAuth"><a href="#">{{authentication.userName}}</a></li>
                <li data-ng-hide="!authentication.isAuth"><a href="" data-ng-click="logout()">Logout</a></li>
                <li data-ng-hide="authentication.isAuth"> <a href="#/login">Login</a></li>
                <li data-ng-hide="authentication.isAuth"> <a href="#/register">Sign Up</a></li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
