<div class="container" style="padding-top:20px;width:300px;">
    <h1>Register</h1>
    <form role="form">
        <p>username</p>
        <div class="form-group">
            <input  data-ng-model="user.username" type="text" class="form-control" placeholder="username">
        </div>
        <p>password</p>
        <div class="form-group">
            <input  data-ng-model="user.password" type="text" class="form-control" placeholder="password">
        </div>
      <button type="submit" class="btn btn-warning" ng-click="register()">Register</button>
    </form>
</div>